In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import confusion_matrix, accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import ScalarFormatter, FormatStrFormatter
%matplotlib inline

In [2]:
df = pd.read_csv('Data/expVt3000Comb.csv')
df.head()

,Exp,NBAc,NBFP,NBFN,RFAc,RFFP,RFFN,XGAc,XGFP,XGFN,VotAc,VotFP,VotFN
0,0,0.842975,0.213415,0.038462,0.983471,0.015151,0.018182,0.991735,0.007576,0.009091,0.991735,0.007576,0.009091
1,100,0.870293,0.185430,0.034091,0.974895,0.031250,0.018018,0.991632,0.000000,0.017391,0.987448,0.015748,0.008929
2,101,0.861925,0.204225,0.041237,0.983264,0.025210,0.008333,0.991632,0.008547,0.008197,0.983264,0.025210,0.008333
3,102,0.815900,0.264516,0.035714,0.987448,0.016949,0.008264,0.983264,0.025210,0.008333,0.983264,0.025210,0.008333
4,103,0.842105,0.229299,0.033333,0.983806,0.016129,0.016260,0.995951,0.000000,0.008064,0.987854,0.016000,0.008197

In [23]:
df = df.sort_values(by=['Exp'])

In [24]:
df.head()

,Exp,NBAc,NBFP,NBFN,RFAc,RFFP,RFFN,XGAc,XGFP,XGFN,VotAc,VotFP,VotFN
0,0,0.842975,0.213415,0.038462,0.983471,0.015151,0.018182,0.991735,0.007576,0.009091,0.991735,0.007576,0.009091
111,1,0.868085,0.180556,0.054945,0.982979,0.008264,0.026316,0.987234,0.000000,0.026087,0.987234,0.000000,0.026087
222,2,0.872428,0.175000,0.036145,0.991769,0.000000,0.018182,0.987654,0.007463,0.018349,0.987654,0.007463,0.018349
333,3,0.879668,0.166667,0.025316,0.975104,0.021898,0.028846,0.983402,0.007407,0.028302,0.979253,0.021739,0.019418
444,4,0.871901,0.178808,0.043956,0.983471,0.007936,0.025862,0.983471,0.007936,0.025862,0.983471,0.015625,0.017544

In [25]:
# Means
dataMeansTotal = {'Methods':['NB','RF','XG', 'Vot'],
                  'DA':[format(round(df['NBAc'].mean(),2),'.2f'),
                        format(round(df['RFAc'].mean(),2),'.2f'),
                        format(round(df['XGAc'].mean(),2),'.2f'), 
                        format(round(df['VotAc'].mean(),2),'.2f')],
                  'FP':[format(round(df['NBFP'].mean(),2),'.2f'),
                        format(round(df['RFFP'].mean(),2),'.2f'),
                        format(round(df['XGFP'].mean(),2),'.2f'),
                        format(round(df['VotFP'].mean(),2),'.2f')],
                  'FN':[format(round(df['NBFN'].mean(),2),'.2f'),
                        format(round(df['RFFN'].mean(),2),'.2f'),
                        format(round(df['XGFN'].mean(),2),'.2f'),
                        format(round(df['VotFN'].mean(),2),'.2f')]
}
dfMeansTotal = pd.DataFrame(dataMeansTotal, columns=['Methods','DA','FP','FN'])
dfMeansTotal

  Methods    DA    FP    FN
0      NB  0.86  0.21  0.03
1      RF  0.98  0.02  0.02
2      XG  0.99  0.01  0.01
3     Vot  0.99  0.01  0.01